<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiroyuki3.worksupportlibw">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="6c1528b3bbc66a9d925a39b9982d20e328e8e509" />-->
    </application>

</manifest>